body {
    font-family: 'Press Start 2P';
    font-weight: 200;
    background-image: url("background-image/fon.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#pauseBtn{
  position: fixed;
  top: 1%;
  left:1%;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

#sun_baza {
    animation: spin 60s linear infinite;
    cursor: pointer;
    height: 90px;
    width: 90px;
    position: fixed;
    top: 40%;
    left: 25%
}

#mercury {
  animation: spin 20s linear infinite;
  cursor: pointer;
  height: 25px;
  width: 25px;
}

#venus {
  animation: spin 20s linear infinite;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

#earth {
  animation: spin 20s linear infinite;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

#mars {
  animation: spin 20s linear infinite;
  cursor: pointer;
  height: 28px;
  width: 28px;
}

#jupiter {
  animation: spin 20s linear infinite;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

#saturn {
  animation: spin 20s linear infinite;
  cursor: pointer;
  height: 35px;
  width: 35px;
}

#uranus{
  animation: spin 250s linear infinite;
  cursor: pointer;
  height: 32px;
  width: 32px;
}


#neptune{
  animation: spin 20s linear infinite;
  cursor: pointer;
  height: 38px;
  width: 38px;
}


#pluton {
animation: spin 20s linear infinite;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

#infoPanel {
  width: 320px;
  background: rgba(95, 15, 206, 0.645);
  color: white;
  padding: 20px;

  position: fixed;
  right: 20px;

  top: 50%;
  transform: translateY(-50%);

  border-radius: 12px;
  box-shadow: -4px 0 12px rgba(91, 4, 167, 0.605);
  backdrop-filter: blur(8px);
  z-index: 9999;
}

#infoPanel h2 {
  margin-top: 0;
  font-size: 24px;
}

#infoPanel p {
  margin-bottom: 0;
  line-height: 1.5;
}


#Pcontainer {
  width: 200px;
  height: 12px;
  background: rgba(145, 27, 209, 0.2);
  border-radius: 6px;
  margin: 20px;
  position: fixed;
  left: 20px;
  bottom: 20px;
  backdrop-filter: blur(3px);
}

#Pbar {
  height: 100%;
  width: 0%;
  background: #00e5ffcf;
  border-radius: 6px;
  transition: width 0.3s ease;
}

#Ptext {
  position: fixed;
  left: 20px;
  bottom: 40px;
  color: white;
  font-family: 'Press Start 2P';
  font-size: 12px;
}

