body {
    font-family: 'Press Start 2P';
    font-weight: 200;
    background-image: url("background-image/fon.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#sun_baza {
    animation: spin 60s linear infinite;
    cursor: pointer;
    height: 90px;
    width: 90px;
    position: absolute;
    top: 300px;
    left: 300px;
}

#mercury {
  animation: spin 20s linear infinite;
  cursor: pointer;
  height: 25px;
  width: 25px;
}

#venus {
  animation: spin 20s linear infinite;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

#earth {
  animation: spin 20s linear infinite;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

#mars {
  animation: spin 20s linear infinite;
  cursor: pointer;
  height: 28px;
  width: 28px;
}

#jupiter {
  animation: spin 20s linear infinite;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

#saturn {
  animation: spin 20s linear infinite;
  cursor: pointer;
  height: 35px;
  width: 35px;
}

#uranus{
  animation: spin 250s linear infinite;
  cursor: pointer;
  height: 32px;
  width: 32px;
}


#neptune{
  animation: spin 20s linear infinite;
  cursor: pointer;
  height: 38px;
  width: 38px;
}


#pluton {
animation: spin 20s linear infinite;
  cursor: pointer;
  height: 20px;
  width: 20px;
}
