body {
    font-family: 'Press Start 2P';
    font-weight: 200;
    background-image: url("background-image/fon.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    /* Важливо для мобільного: запобігає горизонтальному скролу */
    overflow-x: hidden; 
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(1px);
  animation: fadeIn 0.8s ease forwards;
}

#pauseBtn{
  position: fixed;
  top: 1%;
  left:1%;
  width: 69px;
  height: 69px;
  cursor: pointer;
  z-index: 100; 
}

#sun_baza {
    animation: spin 60s linear infinite;
    cursor: pointer;
    height: 90px;
    width: 90px;
    position: fixed;
    top: 40%;
    left: 25%;
    z-index: 5; 
}
#mercury { animation: spin 20s linear infinite; cursor: pointer; height: 25px; width: 25px; z-index: 5;}
#venus { animation: spin 20s linear infinite; cursor: pointer; height: 30px; width: 30px; z-index: 5; }
#earth { animation: spin 20s linear infinite; cursor: pointer; height: 30px; width: 30px; z-index: 5; }
#mars { animation: spin 20s linear infinite; cursor: pointer; height: 28px; width: 28px; z-index: 5; }
#jupiter { animation: spin 20s linear infinite; cursor: pointer; height: 40px; width: 40px; z-index: 5; }
#saturn { animation: spin 20s linear infinite; cursor: pointer; height: 35px; width: 35px; z-index: 5; }
#uranus{ animation: spin 250s linear infinite; cursor: pointer; height: 32px; width: 32px; z-index: 5; }
#neptune{ animation: spin 20s linear infinite; cursor: pointer; height: 38px; width: 38px; z-index: 5; }
#pluton { animation: spin 20s linear infinite; cursor: pointer; height: 20px; width: 20px; z-index: 5; }

#infoPanel {
  width: 320px;
  background: rgba(95, 15, 206, 0.9);
  color: white;
  padding: 20px;
  position: fixed;
  right: 20px;
  top: 40%;
  transform: translateY(-50%);
  border-radius: 12px;
  box-shadow: 0 0 30px rgb(132, 43, 255);
  backdrop-filter: blur(8px);
  z-index: 10; 
  transition: all 0.3s ease;
  max-height: 90vh;
  overflow-y: auto;
}

#infoPanel h2 {
  margin-top: 0;
  font-size: 18px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#infoPanel p {
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 14px;
}

@media (max-width: 768px) {
    
  #infoPanel {
    width: 100%;
    left: 0; 
    right: 0; 
    top: auto; 
    bottom: 0;
    padding: 15px; 
    transform: translateY(0); 
    border-radius: 12px 12px 0 0;
    box-shadow: 0 -4px 12px rgba(91, 4, 167, 0.605);
  }

  #infoPanel.collapsed {
    transform: translateY(calc(100% - 40px)); 
    box-shadow: 0 -4px 12px rgba(91, 4, 167, 0.9);
  }
  
  #toggleBtn {
      top: -35px; 
      right: 15px;
      box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5); 
  }
  
  #pauseBtn{
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
  }
  
  #Pcontainer {
      left: 70px;
      bottom: 10px;
  }
}

@media (max-height: 480px) and (max-width: 768px) {
  #infoPanel {
      max-height: 80vh; 
  }
  #infoPanel.collapsed {
    transform: translateY(calc(100% - 40px));
  }
}