body{
    font-family: 'Press Start 2P';
    font-weight: 100;
    background-image: url("background-image/fon.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.ok-button {
    font-family: 'Press Start 2P';
    font-weight: 500;
    font-size: 14px;
    width: 180px;
    height: 50px;
    margin: 20px auto;  /* центрує кнопку */
    display: block;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: rgb(85, 0, 204);
}

    .ok-button:hover {
        background-color:rgb(85, 49, 245);
        }


    .fon-text {
    background-color: rgba(143, 6, 161, 0.74);
    font-size: 14px;
    max-width: 600px;
    width: 80%;
    margin: 40px auto; /* центр по ширині */
    padding: 30px;
    border-radius: 10px;
    color: white;
    text-align: center;
    position: relative; /* тепер не з абсолютом */
    }